.navbar {
  width: 100%;
  transition: background-color 0.5s ease;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(60deg, #000 0px, #222 2px, #000 4px);
}

.logo {
  display: inline;
  margin-right: 5px;
}

.dropdown-menu.show {
  text-align: center;
}
.leftSideNav {
  margin-right: auto;
}
/* .leftSideNav a.nav-link {
  text-align: center;
} */
.leftSideNav #collasible-nav-dropdown {
  color: white;
}
.leftSideNav.navbar-nav > div > div > a {
  color: white;
}
.navLink {
  color: white;
}

button.responsive-navbar-nav span {
  color: white;
}

/* .nav-item a.nav-link {
  color: white;
} */

.navbarBrand {
  align-items: center;
  justify-content: center;
  width: auto;
}

.navbarBrand a {
  color: white;
  text-decoration: none;
}

.rightSide {
  align-items: center;
  justify-content: space-between;
}

a.profile-link {
  color: white;
}
.cart-icon {
  color: white;
}
.searchButton {
  color: var(--text-color-secondary);
  grid-area: searchButton;
  width: var(--size-input);
  height: var(--size-input);
  display: grid;
  place-items: center;
}
